<html>
  <head>
    <title>New Message</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <form method="POST" action="/new">
      <input type="text" name="name">
      <input type="text" name="msg">
      <button>Submit</button>
    </form>
  </body>
</html>