<html>
  <head>
    <title>New Message</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <form method="POST" action="/new" id="new_msg_form">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" required>
      </div>
      <div>
        <label for="msg">Message</label>
        <textarea name="msg" rows="4" cols="25" required></textarea>
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>