<html>
    <head>
        <title><%- title %></title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <form method="GET" action="/new">
                <button>New Message</button>
            </form>
        </header>
        <div class="container">
            <% messages.forEach((msg) => { %>
                <div class="msg">
                    <h1><%- msg.user %></h1>
                    <h2><%- msg.text %></h2>
                    <p><%- msg.added.toLocaleString() %></p>
                </div>
            <% }); %>
        </div>
    </body>
</html>