<html>
    <head>
        <title><%- title %></title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <form method="GET" action="/new">
            <button>Submit</button>
        </form>
        <% messages.forEach((msg) => { %>
            <div>
                <p><%- msg.text %></p>
                <p><%- msg.user %></p>
                <p><%- msg.added %></p>
            </div>
        <% }); %>
    </body>
</html>