* {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(211, 60%, 90%);
}

form {
    margin: 0;
}

header {
    background-color: white;
    height: 8rem;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: end;
}

header button {
    cursor: pointer;

    font-size: 1rem;
    font-weight: bold;

    padding: .75rem 2rem;
    margin-bottom: 1rem;

    color: hsl(211, 75%, 50%);
    background-color: transparent;
    border-radius: .3rem;
    border: 2px solid hsl(211, 75%, 50%);
}

header button:hover {
    color: white;
    background-color: hsl(211, 75%, 50%);
}

.container {
    margin: 0 3rem;
    margin-top: 1rem;
}

.msg {
    padding: .5rem .8rem;
    margin-top: 1rem;
    background-color: white;
    border-radius: .4rem;
    letter-spacing: -0.5px;
}

.msg * {
    margin: 0;
}

.msg h1 {
    font-size: 1rem;
    font-weight: bold;
    color: hsl(211, 75%, 50%);
    margin-bottom: .5rem;
}

.msg h2 {
    font-size: 1.35rem;
    font-weight: normal;
    color: hsl(211, 90%, 15%);
    margin-bottom: 1.25rem;
}

.msg p {
    font-size: .75rem;
    font-weight: normal;
    color: hsl(211, 35%, 50%);
}

#new_msg_form {
    padding: 1rem 1.25rem;
    margin-top: 3rem;
    border-radius: .4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
}

#new_msg_form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 1rem;
}

#new_msg_form div label {
    font-size: 1rem;
    font-weight: bold;
    /* margin-bottom: 1rem; */

    color: hsl(211, 75%, 50%);
    margin-bottom: .25rem;
}

#new_msg_form div :not(label) {
    appearance: none; 
    font-size: 1rem;
    
    color: hsl(211, 25%, 20%); 
    background-color: hsl(0, 0%, 95%);
    outline-color: hsl(211, 75%, 50%);

    padding: .25rem .5rem;
    border-radius: 0.25rem;
    border: 2px solid hsl(0, 0%, 95%);

    line-height: 1.25; 
}

#new_msg_form div :not(label):focus {
    color: hsl(211, 75%, 50%);
    background-color: white;
}

#new_msg_form button {
    cursor: pointer;

    font-size: 1rem;
    font-weight: bold;

    padding: .75rem 2rem;
    margin-top: 1.5rem;

    color: hsl(211, 75%, 50%);
    background-color: transparent;
    border-radius: .3rem;
    border: 2px solid hsl(211, 75%, 50%);
}

#new_msg_form button:hover {
    color: white;
    background-color: hsl(211, 75%, 50%);
}